body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #ebe306;
    padding: 30px 50px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

#clock {
    font-size: 48px;
    font-weight: bold;
    color: #ea4d04;
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
}
