body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #ec6d05;
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.container {
    width: 80%;
    max-width: 700px;
    background-color: #fff;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    text-align: left;
}

h1 {
    text-align: center;
    margin-bottom: 25px;
}

#sample-text {
    padding: 15px;
    font-size: 18px;
    line-height: 1.6;
    transition: all 0.3s ease;
    border-radius: 5px;
}

.button-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.button-group button {
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-group button:hover {
    background-color: #0dcf0d;
}
