body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

header, main, footer {
    padding: 20px;
    transition: background-color 0.3s, color 0.3s;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    color: #000;
}

main {
    background-color: #ffffff;
    color: #000;
}

footer {
    background-color: #f0f0f0;
    color: #000;
    text-align: center;
}

button {
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #efa906;
}


.dark-mode body {
    background-color: #121212;
    color: #e0e0e0;
}

.dark-mode header {
    background-color: #0e0e0e;
    color: #ffffff;
}

.dark-mode main {
    background-color: #181818;
    color: #e0e0e0;
}

.dark-mode footer {
    background-color: #0e0e0e;
    color: #ffffff;
}

.dark-mode button {
    background-color: #333;
    color: #fff;
}

.dark-mode button:hover {
    background-color: #555;
}
