body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    padding: 200px 0;
}

.container {
    width: 80%;
    max-width: 500px;
    background-color: #dbba24;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-top: 25px;
    font-weight: bold;
}

form input, form select, form button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 15px;
    border: 1px solid #ccc;
    font-size: 16px;
}

form button {
    margin-top: 20px;
    background-color: #d85e25;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #10bd35;
}

.input-group {
    display: none; 
}
