body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.container {
    width: 100%;
    max-width: 700px;
    background-color: #d7980e;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 2px;
    font-size: 16px;
    border-radius: 15px;
    border: 1px solid #ccc;
    resize: vertical;
    margin-bottom: 15px;
}

button {
    display: block;
    margin: 0 auto 20px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #2aec0c;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#result {
    background-color: #f0f8ff;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    line-height: 1.6;
    word-wrap: break-word;
}
