
body {
    font-family: Arial, sans-serif;
    background-color: #f4f5f7;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #dfb017;
    padding: 20px;
    text-align: center;
    position: sticky;
    top: 0;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #640db4;
    font-weight: bold;
    cursor: pointer;
}

nav a:hover {
    text-decoration: underline;
}

button {
    padding: 8px 16px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #67a308;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

section {
    display: none;
}

.active-section {
    display: block;
}

#error-msg {
    color: red;
    font-size: 14px;
}


form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

small.error {
    color: red;
    display: block;
}


body.dark-mode {
    background-color: #121212;
    color: #f4f4f4;
}

body.dark-mode header {
    background-color: #1f1f1f;
}

body.dark-mode nav a {
    color: #bb86fc;
}

body.dark-mode input, body.dark-mode textarea {
    background-color: #1f1f1f;
    color: #f4f4f4;
    border: 1px solid #555;
}
