nav{
    width: 100%;
    background-color: #0d3eb1;
    overflow: hidden;
    padding: 10px 0;
}

nav a{
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    margin: 0 5px;
    font-family: Arial, Helvetica, sans-serif;
    transition: background-color 0.3s, color 0.3s;

}
nav a:hover{
    background-color: #555;
    color: #ffcc00;
    border-radius: 5px;
}

.content{
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}